<a href="https://colab.research.google.com/github/4evening/machine-learning/blob/main/ML9_15.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!cd drive/MyDrive/
!git clone https://github.com/stefmolin/Hands-On-Data-Analysis-with-Pandas-2nd-edition.git

/bin/bash: line 0: cd: drive/MyDrive/: No such file or directory
Cloning into 'Hands-On-Data-Analysis-with-Pandas-2nd-edition'...
remote: Enumerating objects: 3310, done.
remote: Counting objects: 100% (3310/3310), done.
remote: Compressing objects: 100% (1191/1191), done.
remote: Total 3310 (delta 2065), reused 3263 (delta 2056), pack-reused 0
Receiving objects: 100% (3310/3310), 74.09 MiB | 27.01 MiB/s, done.
Resolving deltas: 100% (2065/2065), done.

In [2]:
import pandas as pd

In [6]:
df = pd.DataFrame({"name": ["유재은", "안이현", "송태원", "허희진"],
                   "hobby": ["드라마","탁구","클라이밍","영화"],
                   "natinality": ["한국","한국","한국","한국"],
                   "favorite number": [5,3,17,4]})

In [9]:
df

  name hobby natinality  favorite number
0  유재은   드라마         한국                5
1  안이현    탁구         한국                3
2  송태원  클라이밍         한국               17
3  허희진    영화         한국                4

In [ ]:
df